 # The same configuration defined with a single listen block. Shorter but
    # less expressive, especially in HTTP mode.
    global
        daemon
        maxconn 256

    defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

    listen http-in
        bind *:80
        server web1 web1:80 maxconn 32
        server web2 web2:80 maxconn 32
        server web3 web3:80 maxconn 32